<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">
  <head>
    <title>Bombay Karate Club</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="static/css/admin_icon.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Caveat:400,700|Droid+Serif:400,700|Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/sb-instagram.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/layout.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/trx_addons_icons-embedded.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/js/vendor/swiper/swiper.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/js/vendor/magnific/magnific-popup.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/trx_addons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/js/vendor/layout.grid/layout.grid.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/stylesheet.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/fontello/static/css/fontello-embedded.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/animation.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/colors.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/responsive.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="static/css/custom.css"
      type="text/css"
      media="all"
    />
    <link
      rel="icon"
      href="static/images/cropped-favicon-90x90.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="static/images/cropped-favicon-300x300.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="static/images/cropped-favicon-300x300.png"
    />
    <meta
      name="msapplication-TileImage"
      content="static/images/cropped-favicon-300x300.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </head>

  <body
    class="
      page
      teamp
      blog_mode_page
      body_style_wide
      scheme_default
      sidebar_hide
      expand_content
      remove_margins
      header_style_header-1 header_title_on
      no_layout
      vc_responsive
    "
  >
    <div class="body_wrap">
      <div class="page_wrap">
        <header class="top_panel">
          <a class="menu_mobile_button icon-menu-2"></a>
          <div class="top_panel_fixed_wrap"></div>
          <div class="top_panel_navi with_bg_image scheme_default">
            <div class="menu_main_wrap clearfix">
              <div class="content_wrap">
                <a class="logo" href="/">
                  <img
                    src="static/images/logo.jpg"
                    class="logo_main"
                    alt=""
                    width="304"
                    height="62"
                  />
                </a>
                <nav class="menu_main_nav_area menu_hover_fade">
                  <ul id="menu_main" class="menu_main_nav">
                    <li class="menu-item">
                      <a href="/"><span>Home</span></a>
                    </li>
                    <li class="menu-item">
                      <a href="/about"><span>About Us</span></a>
                    </li>
                    <li class="menu-item current-menu-item">
                      <a href="/dojo"><span>Dojos</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class="menu_mobile_overlay"></div>
        <div class="menu_mobile scheme_dark">
          <div class="menu_mobile_inner">
            <a class="menu_mobile_close icon-cancel"></a>
            <nav class="menu_mobile_nav_area">
              <ul id="menu_mobile" class="menu_mobile_nav">
                <li class="menu-item">
                  <a href="/"><span>Home</span></a>
                </li>
                <li class="menu-item">
                  <a href="/about"><span>About Us</span></a>
                </li>

                <li class="menu-item current-menu-item">
                  <a href="/dojo"><span>Dojos</span></a>
                </li>
              </ul>
            </nav>

            <div class="socials_mobile">
              <span class="social_item">
                <a href="#" target="_blank" class="social_icons social_twitter">
                  <span class="trx_addons_icon-twitter"></span>
                </a>
              </span>
              <span class="social_item">
                <a
                  href="https://www.facebook.com/Bombaykarateclub/"
                  target="_blank"
                  class="social_icons social_facebook"
                >
                  <span class="trx_addons_icon-facebook"></span>
                </a>
              </span>
              <span class="social_item">
                <a
                  href="https://www.instagram.com/bombaykarateclub/"
                  target="_blank"
                  class="social_icons social_instagram"
                >
                  <span class="trx_addons_icon-instagram"></span>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="page_content_wrap scheme_default">
          <div class="content_wrap">
            <div class="content">
              <article class="post_item_single post_type_page page hentry">
                <div class="post_content entry-content">
                  <div
                    data-vc-full-width="true"
                    data-vc-full-width-init="false"
                    class="
                      vc_row
                      wpb_row
                      vc_row-fluid vc_custom_1474281354913 vc_row-has-fill
                    "
                  >
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            id="sc_content_944"
                            class="sc_content sc_content_default"
                          >
                            <h2
                              class="
                                sc_item_title
                                sc_content_title
                                sc_align_center
                                sc_item_title_style_default
                              "
                            >
                              Bombay Karate Club Dojos
                            </h2>
                            <div class="sc_content_container"></div>
                          </div>
                          <div class="vc_empty_space height_medium h32px">
                            <span class="vc_empty_space_inner"></span>
                          </div>
                          <div
                            class="
                              sc_team sc_team_default
                              swiper-slider-container
                              slider_swiper
                              slider_nocontrols
                              slider_nopagination
                            "
                            data-slides-per-view="4"
                            data-slides-space="20"
                            data-slides-min-width="150"
                          >
                            <div
                              class="
                                sc_team_slider sc_item_slider
                                slides
                                swiper-wrapper
                              "
                            >
                              {% for dojo in alldojos %}

                              <div class="swiper-slide">
                                <div class="sc_team_item">
                                  <div class="sc_team_item_thumb">
                                    <img
                                      src="{{ dojo.dojo_image }}"
                                      class="
                                        attachment-Bombay_Karate_Club-thumb-med_team
                                        size-Bombay_Karate_Club-thumb-med_team
                                      "
                                      alt=""
                                    />
                                  </div>
                                  <div class="sc_team_item_info">
                                    <div class="sc_team_item_header">
                                      <h3 class="sc_team_item_title">
                                        {{ dojo.name }}
                                      </h3>
                                      <br />
                                      <form action="/dojoDetails" method="post">
                                        <input
                                          type="hidden"
                                          name="dojo_id"
                                          value="{{ dojo.dojo_id }}"
                                        />
                                        <!-- <input
                                          type="submit"
                                          class="btn btn-outline-danger"
                                          value="View"
                                        /> -->
                                        <button
                                          type="submit"
                                          class="btn btn-danger"
                                        >
                                          View
                                        </button>
                                      </form>

                                      <!-- <div class="sc_team_item_subtitle">
                                        {{dojo.sensei }}
                                      </div>
                                      <br />
                                    </div>
                                    <div class="sc_team_item_content">
                                      <p>
                                        <b>Days:</b><br />
                                        {{ dojo.days }}
                                      </p>
                                      <br />
                                      <p>
                                        <b>Time:</b><br />
                                        {{ dojo.time_1 }}<br />{{dojo.time_2 }}
                                      </p>
                                      <br />
                                      <p>
                                        <b>Venue:</b><br />
                                        {{ dojo.venue }}
                                      </p> -->
                                      <br /><br />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {% endfor %}
                              <!-- Here -->
                            </div>
                          </div>
                          <div class="vc_empty_space height_huge h32px">
                            <span class="vc_empty_space_inner"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="vc_row-full-width vc_clearfix"></div>

                  <div class="vc_row-full-width vc_clearfix"></div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <footer class="site_footer_wrap scheme_dark">
          <div class="copyright_wrap scheme_">
            <div class="copyright_wrap_inner">
              <div class="content_wrap">
                <div class="sc_columns">
                  <div class="column1">
                    <div class="column1_inner">
                      <div class="menu_footer_wrap">
                        <div class="menu_footer_wrap_inner">
                          <nav class="menu_footer_nav_area">
                            <ul id="menu_footer" class="menu_footer_nav">
                              <li class="menu-item current-menu-item">
                                <a href="/"><span>Home</span></a>
                              </li>
                              <li class="menu-item">
                                <a href="/about"><span>About Us</span></a>
                              </li>
                              <li class="menu-item">
                                <a href="/dojo"><span>Dojos</span></a>
                              </li>
                              <li class="menu-item">
                                <a href="contacts.html"
                                  ><span>Get In Touch</span></a
                                >
                              </li>
                              <li class="menu-item">
                                <a href="https://www.ajka-i.com" target="_blank"
                                  ><span>AJKA Interntational</span></a
                                >
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column2">
                    <div class="column2_inner">
                      <div class="copyright_text">
                        © 2021 Bombay Karate Club <br />
                        <span style="font-size: 11px; font-weight: 700"
                          >JKA Style Karate Club affiliated to</span
                        >
                        <img src="static/images/ajkai.png" width="200" />
                      </div>
                      <div class="socials_footer_wrap socials_wrap">
                        <div class="socials_footer_wrap_inner">
                          <span class="social_item">
                            <a
                              href="https://www.facebook.com/Bombaykarateclub/"
                              target="_blank"
                              class="social_icons social_facebook"
                            >
                              <span class="trx_addons_icon-facebook"></span>
                            </a>
                          </span>
                          <span class="social_item">
                            <a
                              href="https://www.instagram.com/bombaykarateclub/"
                              target="_blank"
                              class="social_icons social_instagram"
                            >
                              <span class="trx_addons_icon-instagram"></span>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script
      type="text/javascript"
      src="static/js/vendor/jquery/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="static/js/vendor/jquery/jquery-migrate.min.js"
    ></script>
    <script type="text/javascript" src="static/js/custom/custom.js"></script>
    <script type="text/javascript" src="static/js/vendor/post.js"></script>
    <script
      type="text/javascript"
      src="static/js/vendor/sb-instagram.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/js/vendor/swiper/swiper.jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/js/vendor/magnific/jquery.magnific-popup.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/js/vendor/layout.grid/trx_addons.js"
    ></script>
    <script type="text/javascript" src="static/js/vendor/scripts.js"></script>
    <script
      type="text/javascript"
      src="static/js/vendor/layout.grid/layout.front.min.js"
    ></script>
    <script
      type="text/javascript"
      src="static/js/vendor/layout.grid/waypoints.min.js"
    ></script>
    <a href="#" class="trx_addons_scroll_to_top" title="Scroll to top"
      ><i class="icon icon-up"></i
    ></a>

    <script>
      function sendDojoID(dojo_ID) {
        var settings = {
          url: "http://localhost:5000/dojoDetails",
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({
            dojo_ID: dojo_ID,
          }),
        };
        $.ajax(settings).done(function (response) {
          console.log("Working");
        });
      }
    </script>
  </body>
</html>
