<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">

<head>
    <title>Bombay Karate Club</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='static/css/admin_icon.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Caveat:400,700|Droid+Serif:400,700|Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/sb-instagram.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/js/vendor/swiper/swiper.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/trx_addons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/js/vendor/layout.grid/layout.grid.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/stylesheet.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/fontello/static/css/fontello-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/animation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/colors.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/js/vendor/layout.grid/entypo.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/js/vendor/layout.grid/jquery.fs.boxer.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/js/vendor/layout.grid/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/js/vendor/layout.grid/slick.css' type='text/css' media='all' />
    <link rel='stylesheet' href='static/css/custom.css' type='text/css' media='all' />
    <link rel="icon" href="static/images/cropped-favicon-90x90.png" sizes="32x32" />
    <link rel="icon" href="static/images/cropped-favicon-300x300.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="static/images/cropped-favicon-300x300.png" />
    <meta name="msapplication-TileImage" content="static/images/cropped-favicon-300x300.png" />

</head>

<body class="page aboutus blog_mode_page body_style_wide scheme_default sidebar_hide expand_content remove_margins header_style_header-1 header_title_on no_layout vc_responsive">
<div class="body_wrap">
    <div class="page_wrap">
        <header class="top_panel scheme_default">
            <a class="menu_mobile_button icon-menu-2"></a>
            <div class="top_panel_fixed_wrap"></div>
            <div class="top_panel_navi with_bg_image scheme_default">
                <div class="menu_main_wrap clearfix">
                    <div class="content_wrap">
                        <a class="logo" href="index.html"><img src="static/images/logo.jpg" class="logo_main" alt="" width="304" height="62"></a>
                        <nav class="menu_main_nav_area menu_hover_fade">
                                <ul id="menu_main" class="menu_main_nav">
                                    <li class="menu-item  current-menu-ancestor "><a href="index.html"><span>Home</span></a></li>
                                      <li class="menu-item"><a href="about.html"><span>About Us</span></a></li>
                                    <li class="menu-item current-menu-item"><a href="dojos.html"><span>Dojos</span></a></li>
                                   </ul>
                            </nav>
                    </div>
                </div>
            </div>
            
        </header>
        <div class="menu_mobile_overlay"></div>
        <div class="menu_mobile scheme_dark">
            <div class="menu_mobile_inner">
                    <a class="menu_mobile_close icon-cancel"></a>
                    <nav class="menu_mobile_nav_area">
                        <ul id="menu_mobile" class="menu_mobile_nav">
                                    <li class="menu-item "><a href="index.html"><span>Home</span></a></li>
                                      <li class="menu-item"><a href="about.html"><span>About Us</span></a></li>
                                    <li class="menu-item current-menu-item"><a href="dojos.html"><span>Dojos</span></a></li>
                                  
                                </ul>
                    </nav>
                   
                    <div class="socials_mobile">
                        <span class="social_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">
                                <span class="trx_addons_icon-twitter"></span>
                            </a>
                        </span>
                        <span class="social_item">
                            <a href="https://www.facebook.com/Bombaykarateclub/" target="_blank" class="social_icons social_facebook">
                                                        <span class="trx_addons_icon-facebook"></span>
                                                    </a>
                        </span>
                        <span class="social_item">
                            <a href="https://www.instagram.com/bombaykarateclub/" target="_blank" class="social_icons social_instagram">
                                                        <span class="trx_addons_icon-instagram"></span>
                                                    </a>
                        </span>
                    </div>
                </div>
        </div>
        <div class="page_content_wrap scheme_default">
            <div class="content_wrap">
                <div class="content">
                    <article class="post_item_single post_type_page page hentry">
                        <div class="post_content entry-content">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                                  <div class="sc_promo_text sc_float_center trx_addons_stretch_height">
                                                    <div class="sc_promo_text_inner sc_align_center">
                                                        <div class="sc_promo_content sc_item_content">
                                                           
                                                             <div class="wpb_single_image wpb_content_element vc_align_center">
                                                                <figure class="wpb_wrapper vc_figure">
                                                                    <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                        <img width="120" height="120" src="static/images/bkc-logo-mark.png"\ class="vc_single_image-img attachment-full" alt="" /></div>
                                                                </figure>
                                                            </div>
                                                      
                                                            <div id="sc_content_381" class="sc_content sc_content_default"><br>
                                                                <h3 class="sc_item_title sc_content_title sc_align_center sc_item_title_style_default">Bombay Karate Club Head Quarter (Dahisar)</h3>
                                                                
                                                               
                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            


                            <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_1custom_1474288884820 vc_row-has-fill">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper" style="text-align: center;">
                       
                                            <h3 class="sc_item_title sc_content_title sc_align_center sc_item_title_style_default"> Attendence</h3>
                                            <div class="vc_empty_space height_huge hide_on_mobile hide_on_notebook h32px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                            
                                            
                                                                                      
                                                      
                                            
                                            
																						
                                            
<!-- <table style="height:auto" border="1" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="2%">Sr #</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="5%">Membership #</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%">Member Names</th>
{% for class in classdays %}
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="2%">{{ class }}</th>
{% endfor %}

</tr>
{% for member in memberDetails %}
{% for a in attendence %}
{% if a.member_id == member.member_id %}
<tr>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">{{loop.index}}</td>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">{{member.member_id}}</td>
<td style="text-align: left; font-weight: normal; border: 1px solid #ccc;"> {{ member.fname + " " + member.lname }} </td>


{% for class in classdays %}
{% if class == a.date %}
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> P </td>
{% else %}
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
{% endif %}
{% endfor %}

</tr>
{% endif %}
{% endfor %}
{% endfor %}
</tbody>
</table> -->

<table style="height:auto" border="1" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="2%">Sr #</th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="5%">Membership #</th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%">Member Names</th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        <th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="6%"></th>
        </tr>
        <tr>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">asjb</td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">as</td>
        <td style="text-align: left; font-weight: normal; border: 1px solid #ccc;"> asnkl </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        <td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> A </td>
        </tr>
    </tbody>
</table>

<div class="vc_empty_space height_large h32px">
    <span class="vc_empty_space_inner"></span>
</div>
<h3 class="sc_item_title sc_content_title sc_align_center sc_item_title_style_default">Member list</h3>
                                            <div class="vc_empty_space height_huge hide_on_mobile hide_on_notebook h32px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
                                            
                                            
                                                                                      
                                                      
                                            
                                            
																						
                                            
<table style="height:auto" border="1" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="2%">Sr #</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="10%">Membership #</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="10%">Member Names</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="10%">Rank</th>

<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="10%">Level</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="05%">Current Credit</th>
</tr>
{% for member in memberDetails %}
{% if member.age > 17 %}
<tr>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">{{loop.index}}</td>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">{{member.member_id}}</td>
<td style="text-align: left; font-weight: normal; border: 1px solid #ccc;"> {{ member.fname + " " + member.lname }} </td>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;">{{ member.rank }}</td>

<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> Demo</td>
{% for c in credit %}
{% if c.member_id == member.member_id %}
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"><b> {{ c.credit }} </b></td>
{% endif %}
{% endfor %}
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
											
<div class="vc_empty_space height_large h32px">
    <span class="vc_empty_space_inner"></span>
</div>

											
<div id="sc_content_381" class="sc_content sc_content_default"><br>
	<h3 class="sc_item_title sc_content_title sc_align_center sc_item_title_style_default">BKC Points Table</h3>
</div>
<div class="vc_empty_space height_huge hide_on_mobile hide_on_notebook h32px">
    <span class="vc_empty_space_inner"></span>
</div>
<br>									
<table style="height:auto" border="1" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="2%">Sr #</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="10%">Members</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="5%">Rank</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="10%">Level</th>
<th style="text-align: center; font-weight: bold; border: 1px solid #ccc;" width="05%">Current Points</th>
</tr>


{% for member in memberDetails %}
{% if member.age <= 17 %}
<tr>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> {{ loop.index }} </td>
<td style="text-align: left; font-weight: normal; border:   1px solid #ccc;"> {{ member.fname + " " + member.lname }} </td>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> {{ member.rank }} </td>
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"> Demo</td>
{% for p in points %}
{% if p.member_id == member.member_id %}
<td style="text-align: center; font-weight: normal; border: 1px solid #ccc;"><b> {{ p.points }} </b></td>
{% endif %}
{% endfor %}
</tr>
{% endif %}
{% endfor %}
	
</tbody>
</table>
<div class="vc_empty_space height_large h32px">
    <span class="vc_empty_space_inner"></span>
</div>
<div class="vc_empty_space height_huge hide_on_mobile hide_on_notebook h32px">
                                                <span class="vc_empty_space_inner"></span>
                                            </div>
																						
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
							
                            <div class="vc_row-full-width vc_clearfix"></div>
                                 
                            </div>
                           
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <footer class="site_footer_wrap scheme_dark">
                <div class="copyright_wrap scheme_">
                    <div class="copyright_wrap_inner">
                        <div class="content_wrap">
                            <div class="sc_columns">
                                <div class="column1">
                                    <div class="column1_inner">
                                        <div class="menu_footer_wrap">
                                            <div class="menu_footer_wrap_inner">
                                                <nav class="menu_footer_nav_area">
                                                    <ul id="menu_footer" class="menu_footer_nav">
                                                        <li class="menu-item current-menu-item"><a href="index.html"><span>Home</span></a></li>
                                                        <li class="menu-item"><a href="about.html"><span>About Us</span></a></li>
                                                        <li class="menu-item"><a href="dojos.html"><span>Dojos</span></a></li>
                                                        <li class="menu-item"><a href="contacts.html"><span>Get In Touch</span></a></li>
                                                        <li class="menu-item"><a href="https://www.ajka-i.com" target="_blank"><span>AJKA Interntational</span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column2">
                                    <div class="column2_inner">
                                        <div class="copyright_text">© 2021 Bombay Karate Club <br/>
											<span style="font-size: 11px; font-weight: 700">JKA Style Karate Club affiliated to</span>
											<img src="static/images/ajkai.png" width="200">
                                 
                                        </div>
                                        <div class="socials_footer_wrap socials_wrap">
                                            <div class="socials_footer_wrap_inner">
                                                <span class="social_item">
                                                    <a href="https://www.facebook.com/Bombaykarateclub/" target="_blank" class="social_icons social_facebook">
                                                        <span class="trx_addons_icon-facebook"></span>
                                                    </a>
                                                </span>
                                                <span class="social_item">
                                                    <a href="https://www.instagram.com/bombaykarateclub/" target="_blank" class="social_icons social_instagram">
                                                        <span class="trx_addons_icon-instagram"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
</div>

<script type='text/javascript' src='static/js/vendor/jquery/jquery.js'></script>
<script type='text/javascript' src='static/js/vendor/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='static/js/custom/custom.js'></script>
<script type='text/javascript' src='static/js/vendor/post.js'></script>
<script type='text/javascript' src='static/js/vendor/sb-instagram.min.js'></script>
<script type='text/javascript' src='static/js/vendor/swiper/swiper.jquery.min.js'></script>
<script type='text/javascript' src='static/js/vendor/layout.grid/trx_addons.js'></script>
<script type='text/javascript' src='static/js/vendor/scripts.js'></script>
<script type='text/javascript' src='static/js/vendor/layout.grid/layout.front.min.js'></script>
<script type='text/javascript' src='static/js/vendor/layout.grid/jquery.fs.boxer.min.js'></script>
<script type='text/javascript' src='static/js/vendor/layout.grid/slick.min.js'></script>
<script type='text/javascript' src='static/js/vendor/layout.grid/init.min.js'></script>
<a href="#" class="trx_addons_scroll_to_top" title="Scroll to top"><i class="icon icon-up"></i></a>
</body>

</html>